.content {
  display: flex;
  flex: 1;
  gap: 32px;
  padding: 0px 18px;
}
.left {
  flex: 0.25;
  background-color: #fff;
  border-radius: 12px;
  height: 100vh;
  overflow-y: scroll;
  padding: 20px;
}
.mid {
  flex: 0.5;
  /* background-color: #fff; */
  /* border-radius: 12px;
  height: 100vh; */
  /* overflow: scroll; */

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.midTop {
  background-color: #fff;
  border-radius: 12px;
  /* height: 80vh; */
  /* overflow: scroll; */
  padding: 20px;
}

.midTopText {
  font-size: 28px;
  font-weight: 800;
}
.chartMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f4f0fe;
  height: 400px;
  border-radius: 12px;
  margin: 40px 0px 20px 0px;
  gap: 40px;
}
.chart {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
}

.chartTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 20px 16px;
}
.chartTitle h1 {
  color: #072635;
  font-size: 18px;
}
.chartTitle h2 {
  color: #072635;
  font-size: 14px;
  font-weight: normal;
}
.chartdate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.chartDetails {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}
.chartDetails h1 {
  color: #072635;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 16px;
}
.rate {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 16px;
}
.horizontalLine {
  border: 1px solid #cbc8d4;
}
.chartDetails h2 {
  color: #072635;
  font-size: 14px;
  font-weight: normal;
}
.testResult {
  display: flex;
  gap: 4px;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 16px;
}

.historyBottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 21px;
}
.colouredCard {
  height: 240px;
  width: 240px;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.colouredCard img {
  max-width: 96px;
  max-height: 96px;
}
.colouredCard h1 {
  font-size: 16px;
  padding-top: 17px;
}
.colouredCard h2 {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 17px;
}
.colouredCard h3 {
  font-size: 14px;
  font-weight: 800;
}
.ratingsArrow{
  display: flex;
  align-items: center;
  gap: 8px;
}

.midBottom {
  background-color: #fff;
  border-radius: 12px;
  /* overflow-y: scroll; */
  padding: 0px 20px 20px 20px;
}
.bottomTable {
  height: 30vh;
  overflow-y: scroll;
}

.bottomHeader h1 {
  color: #072635;
  padding-top: 20px;
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
  /* display: table-row; */
  /* display: table-row; */
}
tr:first-child {
  /* display: none; */
  padding-bottom: 20px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
th {
  background-color: #f2f2f2;
  padding: 12px 0px;
}

th:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  /* padding: 40px; */
}

th:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

th {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.leftTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.leftTop h1 {
  font-size: 24px;
}
.leftTop img {
  max-width: 24px;
}
.leftMain {
  display: flex;
  flex-direction: column;
}

.MainWrap {
  /* overflow-y: scroll; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-bottom: 24px; */
  padding: 16px 20px;
  cursor: pointer;
}
.MainWrap:hover{
    background-color: #d8fcf7;
  
}

.MainWrap .optionsHorizon {
  max-width: 24px;
}
.userMain {
  display: flex;
  gap: 12px;
  align-items: center;
}

.userMain img {
  max-width: 50px;
  max-height: 50px;
}
.users {
  display: flex;
  flex-direction: column;
}
.users h1 {
  font-size: 14px;
}

.users h2 {
  color: #707070;
  font-size: 14px;
}

.right {
  flex: 0.25;

  display: flex;
  flex-direction: column;
  gap: 45px;
  /* overflow: scroll; */
}
.rightMain {
  background-color: #fff;
  border-radius: 12px;
  /* height: 80vh; */
  /* overflow: scroll; */
  padding: 0px 20px 20px 20px;
}
.rightTop {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 34px;
  padding-top: 32px;
}
.rightTop img {
  max-width: 200px;
}

.userDetails {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}
.userInfo {
  display: flex;
  gap: 16px;
  padding-bottom: 24px;
}

.userInfo img {
  max-width: 42px;
  max-height: 42px;
}
.userText h1 {
  color: #072635;
  font-size: 14px;
  padding-bottom: 4px;
}
.userText h2 {
  color: #072635;
  font-size: 14px;
}
.userDetails .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
}
.userDetails .btn button {
  border-radius: 41px;
  background-color: #01f0d0;
  color: #000;
  padding: 8px 16px;
  border: none;
  width: 15vw;
}
.rightBottom {
  background-color: #fff;
  border-radius: 12px;
  height: 40vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.rightBottom h1 {
  color: #072635;
  font-weight: 800;
  font-size: 24px;
  padding-bottom: 27px;
}
.testWrap {
  overflow-y: scroll;
}

.testCases {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  cursor: pointer;
}
.testCases:hover{
  background-color: #f6f7f8;

}
.testCases h2 {
  color: #072635;
  font-size: 16px;
}
.testCases img {
  max-width: 24px;
  max-height: 24px;
}
