*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
  scroll-behavior: smooth;
  font-family: "Manrope";
  /* opacity: 1; */
}
html {
  scroll-behavior: smooth;
  background-color: #f6f7f8;
  margin: 0 auto;
  max-width: 1920px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #fff;
  --secondary-color: #755ae2;
  --accent-color: #e6e0ff;
  --plain-white: #fff;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
  scrollbar-width: thin;
  scrollbar-color: #072635 #e3e4e6;
}

::-webkit-scrollbar-track {
  background: #e3e4e6;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #072635;

  border-radius: 10px;
  border: 4px solid #072635;
}

/* Optional: Style the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; /* Darker shade of red when hovered */
}
